.fondo {
  background-color: #f74799 !important;
}
.fuente2 {
  font-family: "Merienda", cursive;
}

.fondoPrincipal {
  background-color: #f74799 !important;
}

.boton {
  background-color: #333333 !important;
  color: white !important;
}

.fondoDos {
  background-color: #e7e4e7;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.3);
}

.fondoAdopcion {
  -webkit-filter: grayscale(100%);
  background-image: url("../img/cachorros1.jpg");
  background-attachment: fixed;
  height: 450px;
  filter: grayscale(100%);
}
.zoomin .col-1:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3) !important;
}
